* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    background-color: #eeeeee;
    overflow-x: hidden;
  }
  
  nav {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 15px;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    padding: 0 30px;
  }
  
  .navbar a {
    font-size: 1.25rem;
  }
  
  .right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {  
    background-color: white;
    margin-right: 20px;
    border-radius: 1rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }
  
  .search-input input {
    width: 170px;
    padding: 10px 5px;
    border: none;
    background: none;
    outline: none;
    transition: .3s ease;
  }
  
  .search-input input:focus {
    width: 220px;
  }
  
  .search-input i {
    color: darkgrey;
  }
  
  .dropdown-btn {
    cursor: pointer;
    font-weight: 700;
    user-select: none;
    transition: 0.3s ease;
  }
  
  .dropdown-content {
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    background-color: rgb(77, 31, 121);
    border-radius: 5px;
  }
  
  .dropdown-content.show {
    display: none;
  }
  
  .dropdown-content ul {
    list-style: none;
  }
  
  .dropdown-content ul li {
    transition: 0.4s;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .dropdown-content ul li:hover {
    background-color: rgb(124, 73, 172);
  }
  
  .content-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
  }
  
  .content-container .content-menu {
    flex: 1;
    background-color: rgb(227, 216, 238);
    display: flex;
    justify-content: center;
  }
  
  .content-menu .content-menu-lists {
    padding-top: 30px;
  }
  
  .content-menu-list {
    margin-bottom: 10px;
  }
  
  .content-menu-list .content-menu-button {
    padding: 15px 30px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .content-menu-list .content-menu-button span {
    margin-right: 10px;
  }
  
  .content-menu-list .content-menu-button:hover {
    background-color: rgb(245, 245, 245);
  }
  
  .menu-content {
    background-color: #eee;
    border-radius: 10px;
    display: none;
  }
  
  .rotate {
    transform: rotate(90deg);
  }
  
  .menu-content ul {
    list-style: none;
    margin: auto;
  }
  
  .menu-content ul li {
    text-align: center;
    padding: 10px 20px;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .content-container .dashboard-menu {
    flex: 5;
    width: 100%;
  }
  
  .menu-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .menu-form h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .menu-form form {
    background-color: white;
    width: 70%;
    border-radius: 5px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-form .add-button {
    margin: 20px auto;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: blueviolet;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .menu-form .add-button:hover {
    filter: brightness(1.2);
  }
  
  .form-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-field label {
    flex: 1;
    font-weight: 600;
  }
  
  .form-field label > span {
    font-size: 12px;
    margin-left: 10px;
    background-color: rgb(227, 216, 238);
    padding: 3px 5px;
    border-radius: 6px;
  }
  
  .form-field label > .text {
    color: blueviolet;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .form-field input,
  .form-field textarea,
  .form-field select {
    flex: 1;
    padding: 8px 5px;
    border-radius: 6px;
    border: 1px solid rgb(227, 216, 238);
    transition: 0.4s;
    outline: none;
  }
  
  .form-field textarea {
    resize: none;
    height: 150px;
  }
  
  .form-field select option {
    border: 1px solid rgb(227, 216, 238);
    font-size: 1rem;
  }
  
  .form-field input:focus,
  .form-field textarea:focus,
  .form-field select:focus {
    box-shadow: 3px 3px 2px 0 rgb(227, 216, 238),
      -3px -3px 2px 0 rgb(227, 216, 238), 3px -3px 2px 0 rgb(227, 216, 238),
      -3px 3px 2px 0 rgb(227, 216, 238);
  }
  
  .form-field #image {
    display: none;
  }
  
  #products {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
  }
  
  #products th {
    padding: 20px 0;
    font-size: 1.25rem;
  }
  
  
  #products tbody {
    text-align: center;
  }
  
  #products tbody tr {
    background-color: white;
  }
  
  #products tbody tr td {
    font-weight: 600;
  }
  
  #products tbody tr td a {
    cursor: pointer;
    margin-right: 10px;
  }
  
  #products tbody tr td #delete-btn {
    color: rgb(220, 38, 38);
  }
  
  td.roundleft{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-topleft:6px; /* Firefox top left corner */
    -moz-border-radius-bottomleft:6px; /* Firefox bottom left corner */
  }
  
  td.roundright{
    -moz-border-radius-topright:6px; /* Firefox top right corner */
    -moz-border-radius-bottomright:6px; /* Firefox bottom right corner */
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  